
.icon-edit-2:before { content: '\ebd6'; } /* '' */
.icon-left-circled-1:before { content: '\ed3b'; } /* '' */
.icon-right-circled-1:before { content: '\ed3c'; } /* '' */
.icon-left-big:before { content: '\ee31'; } /* '' */
.icon-right-big:before { content: '\ee32'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
